body{
    color: white;
}
pre {
    white-space: pre-wrap;
    word-break: break-all;
}
#status_bar{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: monospace;
    border-top: 1px solid white;
}
#screenIcon{
    position: fixed;
    right: 2px;
    top: 2px;
    cursor: pointer;
    color: #007bff;
}
a{
    text-decoration: none;
}

body.theme-black {
    background-color: black;
    color: white;
}

.log-display {
    background-color: black;
}

#status_bar {
    display: flex;
    justify-content: space-between;
}

.log-info {
    float: left;
}

.controls {
    float: right;
}

.controls select, .controls a {
    margin-left: 5px;
}

a.disconnect {
    color: #dc3545;
}

a.clear {
    color: #ffc107;
}

a.pause {
    color: #007bff;
}
